<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<system.net>
		<settings>
			<servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
		</settings>
	</system.net>

	<system.serviceModel>
		
		
		<bindings>
			
			<basicHttpsBinding >
				<binding name="BasicHttpBinding_IService" allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
				</binding>
			</basicHttpsBinding>
			
			
		</bindings>
		
		<client>
			
			<endpoint address="https://localhost:6300/Service.svc"
					  binding="basicHttpsBinding" 
				  bindingConfiguration="BasicHttpBinding_IService"
					  contract="ServicioPrueba.IService" name="BasicHttpBinding_IService"
				      behaviorConfiguration="DisableServiceCertificateValidation"
					  />
		</client>

		<behaviors>
			
			<endpointBehaviors>
				<behavior name="DisableServiceCertificateValidation">
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None" trustedStoreLocation="CurrentUser"
											revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>
